section {
	width: 100%;
	}

section #section_wrap {
	margin: 20px 0;
	}

section #section_wrap .word {
	width: 700px;
	margin: 0 auto;
	text-align: center;
	color: #1d79bf;
	padding: 10px 0;
	font-weight: bolder;
	}

section #section_wrap .create_account_form {
	width: 700px;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	}

section #section_wrap .create_account_form input {
	width: 300px;
	height: 40px;
	padding: 7px;
	margin: 5px 0;
	}

section #section_wrap .create_account_form input[type='button'],
section #section_wrap .create_account_form input[type='reset'] {
	width: 157px;
	}

section #section_wrap .login {
	width: 700px;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	}

section #section_wrap .login a {
	text-decoration: underline;
	}
	
