section {
	width: 100%;
	}

section #section_wrap {
	width: 900px;
	margin: 0 auto;
	}

section #section_wrap .intro {
	width: 100%;
	margin: 30px 0;
	}

section #section_wrap .intro .intro_img {
	text-align: center;
	}

section #section_wrap .intro .intro_img img {
	max-width: 900px;
	}

section #section_wrap .intro .login {
	text-align: center;
	margin-top: 15px;
	}

section #section_wrap .intro .login a {
	padding: 10px 50px;
	background-color: #2087d6;
	color: #fff;
	font-weight: bolder;
	font-size: 1.2em;
	border-radius: 100px;
	}
	
section #section_wrap .intro .login a:hover {
	background-color: #3ca2f0;
	}