section {
	width: 100%;
	}

section #section_wrap {
	margin: 20px 0;
	}

section #section_wrap .word {
	width: 700px;
	margin: 0 auto;
	text-align: center;
	color: #1d79bf;
	padding: 10px 0;
	font-weight: bolder;
	}

section #section_wrap .pw_modify {
	width: 700px;
	margin: 0 auto;
	padding: 10px;
	}

section #section_wrap .pw_modify table {
	width: 100%;
	border-collapse: collapse;
	}

section #section_wrap .pw_modify table tr {
	
	}

section #section_wrap .pw_modify table tr td {
	padding: 15px 10px;
	text-align: center;
	}

section #section_wrap .pw_modify table tr td input {
	padding: 10px 15px;
	font-weight: bolder;
	cursor: pointer;
	}