section {
	width: 100%;
	}

section #section_wrap {
	margin: 20px 0;
	}

section #section_wrap .word {
	width: 700px;
	margin: 0 auto;
	text-align: center;
	color: #1d79bf;
	padding: 10px 0;
	font-weight: bolder;
	}

section #section_wrap .word span.m_id {
	font-weight: bolder;
	font-size: 1.2em;
	text-decoration: underline;
	}

section #section_wrap .smartPlug_list_date_write {
	text-align: center;
	margin-top: 30px;
}

section #section_wrap .smartPlug_list_date_write select {
	padding: 7px 15px;
	margin-left: 30px;
	text-align: right;
	border: 0;
	border-bottom: 1px solid #ccc;
	}

section #section_wrap .smartPlug_list_date_write a.smartPlug_write {
	padding: 5px 10px;
	background-color: #2a8ce8;
	color: #fff;
	font-weight: bolder;
	margin-left: 60px;
	border-radius: 5px;
	}

section #section_wrap .smartPlug_list_date_write a.smartPlug_write:hover {
	background-color: #45a1f7;
	}

section #section_wrap .smartPlug_list {
	width: 700px;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	}

section #section_wrap .smartPlug_list table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 3px;
	}

section #section_wrap .smartPlug_list table tr {
	
	}

section #section_wrap .smartPlug_list table tr td {
	border: 1px solid #ccc;
	padding: 7px;
	}

section #section_wrap .smartPlug_list table tr td.date {
	width: 100px;
	}

section #section_wrap .smartPlug_list table tr td.date div {
	width: 100%;
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
	font-weight: bolder;
	}

section #section_wrap .smartPlug_list table tr td.txt {
	
	}

section #section_wrap .smartPlug_list table tr td.thumnail {
	width: 100px;
	}

section #section_wrap .smartPlug_list table tr td.thumnail img {
	max-width: 100px;
	}
	
section #section_wrap .smartPlug_list table tr td.modify_delete {
	width: 80px;
}

section #section_wrap .smartPlug_list table tr td.modify_delete a {
	display: inline-block;
	padding: 5px 15px;
	margin: 2px 0;
	border-radius: 2px;
	background-color: #2a8ce8;
	color: #fff;
	font-weight: bolder;
	}

section #section_wrap .smartPlug_list table tr td.modify_delete a:hover {
	background-color: #45a1f7;
}
	
/* page UI START */
section #section_wrap > div.page_wrap {
	width: 98%;
	margin: 0 auto 50px;
	text-align: center;
	}
	
section #section_wrap > div.page_wrap > div.page_number {
	display: inline-block;
	}

section #section_wrap > div.page_wrap > div.page_number a {
	width: 46px;
	height: 46px;
	line-height: 46px;
	text-decoration: none;
	display: inline-block;
	margin: 0 3px;
	color: #3c3c3c;
	background-color: #fff;
	border: 1px solid #ccc;
	}

section #section_wrap > div.page_wrap > div.page_number a:hover {
	background-color: #e3e6e8;
	}

section #section_wrap > div.page_wrap > div.page_number a.selectedPageNum {
	color: #fff;
	font-weight: bolder;
	border: 1px solid #232f3d;
	background-color: #232f3d;
	}

section #section_wrap > div.page_wrap div.page_goto {
	display: inline-block;
	margin: 0 0 0 2px;
	padding: 9px 6px 5px 15px;
	border-radius: 7px;
	background-color: rgba(200, 216, 235, .3);
	}

section #section_wrap > div.page_wrap div.page_goto > input[name='page_target_num'] {
	width: 60px; height: 25px;
	margin: 3px 0 4px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	font-weight: bolder;
	}

section #section_wrap > div.page_wrap div.page_goto > a {
	padding: 3px 10px 8px;
	margin: 0 11px 0 5px;
	border: 1px solid #424f60;
	background-color: #424f60;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	font-weight: bolder;
	}

section #section_wrap > div.page_wrap div.page_goto > a:hover {
	border: 1px solid #232f3d;
	background-color: #232f3d;
	}
/* page UI END */


/* DETAIL VIEW START */
#diary_detail_wrap {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, .8);
	display: none;
}

#diary_detail_wrap > div.smartPlug_detail {
	width: 1000px;
	margin: 50px auto 0;
	text-align: center;
	}

#diary_detail_wrap > div.smartPlug_detail ul {
	overflow: hidden;
}

#diary_detail_wrap > div.smartPlug_detail ul li {
	list-style: none;
	float: left;
	text-align: center;
	}

#diary_detail_wrap > div.smartPlug_detail ul li:nth-child(1),
#diary_detail_wrap > div.smartPlug_detail ul li:nth-child(3) {
	width: 60px; height: 600px;
	line-height: 600px;
	}

#diary_detail_wrap > div.smartPlug_detail ul li:nth-child(1) a,
#diary_detail_wrap > div.smartPlug_detail ul li:nth-child(3) a {
	color: #fff;
	font-size: 1.5em;
	font-weight: bolder;
	}

#diary_detail_wrap > div.smartPlug_detail ul li > div {
	color: #fff;
	}

#diary_detail_wrap > div.smartPlug_detail ul li:nth-child(2) > div.write_date {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(255, 255, 255, .6);
	}

#diary_detail_wrap > div.smartPlug_detail ul li:nth-child(2) > div.write_date span.date {
	font-size: 1.2em;
	font-weight: bolder;
	}

#diary_detail_wrap > div.smartPlug_detail ul li:nth-child(2) > div.write_date span.time {
	font-size: 1.2em;
	font-weight: normal;
	}

#diary_detail_wrap > div.smartPlug_detail ul li:nth-child(2) > div.write_img {
	max-width: 880px;
	min-width: 880px;
}

#diary_detail_wrap > div.smartPlug_detail ul li:nth-child(2) > div.write_txt {
	margin: 15px 0;
	}

#diary_detail_wrap > div.smartPlug_detail ul li:nth-child(2) > div.write_txt span {
	width: 95%;
	border: 1px solid rgba(255, 255, 255, .7);
	border-radius: 10px;
	display: inline-block;
	padding: 20px 0;
	}

#diary_detail_wrap > div.smartPlug_detail ul li:nth-child(2) > div.close_download {
	width: 100%;
	}

#diary_detail_wrap > div.smartPlug_detail ul li:nth-child(2) > div.close_download a {
	display: inline-block;
	background-color: rgba(255, 255, 255, 1.0);
	padding: 10px 15px;
	font-weight: bolder;
	border-radius: 10px;
	}
/* DETAIL VIEW END */
	
	
	
	
